/* link */
.link-style-1{
  text-decoration: none;
  color: white;
}
.link-style-1:hover{
  text-decoration: none;
  color: whitesmoke;
}

.link-style-2{
  text-decoration: none;
  color: black;
}
.link-style-2:hover{
  text-decoration: none;
  color: black;
}